/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

body{
    width: 100%;
}

table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

th{
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

td{
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

tr{
    background-color: #ffffff;
    border-color: #ffffff;
    border-top: 2px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.data:nth-child(odd){
    background-color: #f4f4f4;
}

.data:nth-child(odd):hover{
    background-color: #e8e8e8;
}

.data:nth-child(even):hover{
    background-color: #e8e8e8;
}

.data{
    border-top: 1px solid;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-collapse: collapse;
    border-color: #e0e0e0;
}

label{
    display: inline-block;
    text-align: right;
}

.req{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30%;
}

.boxr1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxr2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxr3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxr4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxr5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxr6{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
    align-self: center;
}

textarea {
    resize: none;
  }

  .mytabs {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs .labe {
    padding: 15px;
    background: #e2e2e2;
    font-weight: bold;
}


.labe:hover {
    padding: 15px;
    background: #d5d4d4;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

.tab{
    height:100%;
}

.ord{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50%;
}

.boxo1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxo2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxo3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxo4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxo5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxo6{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
    align-self: center;
}

.steps {
  border: none;
  padding: 0 10px;
  margin: 0;
  width: 80%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.steps:focus {
  border-radius: 5px;
}

.steps:read-only {
    background: none;
    border: none;
    outline: none;
}

.parts {
    border: none;
    padding: 0 10px;
    margin: 0;
    width: 80%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .parts:focus {
    border-radius: 5px;
  }
  
  .parts:read-only {
      background: none;
      border: none;
      outline: none;
  }

.reqdata{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50%;
    margin-left: 40px;
    margin-right: 40px;
}

.reqdata1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reqdata2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reqdata3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reqdata4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reqdata7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reqdata5{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reqdata6{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.complete{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50%;
    margin-left: 40px;
    margin-right: 40px;
}

.complete1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.complete2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.complete3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.complete4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.complete5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.complete6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.complete7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.complete8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}